.arrow {
	width: 8px;
	height: 14px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	transform: translateY(1px);
}

.top {
	width: 9px;
	height: 2px;
	background-color: white;
	border-radius: 30px;
	position: absolute;
	top: 55%;
}

.top-back {
	left: 0;
	transform: translateY(-55%) rotate(-45deg);
  	transform-origin: 0% 0%;
}

.top-next {
	right: 0;
	transform: translateY(-55%) rotate(45deg);
    transform-origin: 100% 0%;
}

.bottom {
    width: 9px;
    height: 2px;
    background-color: white;
    border-radius: 30px;
	position: absolute;
    top: 45%;
}

.bottom-back {
	left: 0;
	transform: translateY(-45%) rotate(45deg);
	transform-origin: 0% 100%;
}

.bottom-next {
	right: 0;
	transform: translateY(-45%) rotate(-45deg);
    transform-origin: 100% 100%;
}